<script src="{{ 'countdown-timer.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="countdown-timer-container" class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <timer-element
     data-date-input="{{ section.settings.date }}"
     data-time-input="{{ section.settings.time }}"
     data-hide-on-complete="{{ section.settings.hide_on_complete }}"
    class="{% if section.settings.page_width %}page-width {% endif %}flex flex-col gap-y-5 items-{{ section.settings.content_alignment }}"
  >
    {% if section.settings.heading != blank %}
      <h2 class="{{ section.settings.heading_size }} text-{{ section.settings.content_alignment }}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.paragraph != blank %}
      <p class="{{ section.settings.paragraph_size }} text-{{ section.settings.content_alignment }}">{{ section.settings.paragraph }}</p>
    {% endif %}
    <div class="flex gap-x-5">
      <div class="text-center">
        <div id="countdown-days" class="text-6xl">00</div>
        <span class="text-3xl">Days</span>
      </div>
      <div class="text-center">
        <div id="countdown-hours" class="text-6xl">00</div>
        <span class="text-3xl">Hours</span>
      </div>
      <div class="text-center">
        <div id="countdown-minutes" class="text-6xl">00</div>
        <span class="text-3xl">Minutes</span>
      </div>
      <div class="text-center">
        <div id="countdown-seconds" class="text-6xl">00</div>
        <span class="text-3xl">Seconds</span>
      </div>
    </div>
  </timer-element>
</div>


{% schema %}
{
  "name": "Countdown timer",
  "settings": [
	{
      "type": "header",
      "content": "Countdown Timer Settings"
    }, 
    {
      "type": "text",
      "id": "date",
      "label": "Date",
      "info": "Ex: 01/02/2024 recommended(DD/MM/YYYY)"
    },
    {
      "type": "text",
      "id": "time",
      "label": "Time",
      "info": "Ex: 14:30 for 2:30 PM in 24-hour format"
    },
    {
      "type": "checkbox",
      "id": "hide_on_complete",
      "label": "Hide section when countdown ends",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Section Paragraph"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Select content alignment"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Select heading size",
      "options": [
        {
          "value": "text-6xl",
          "label": "Large"
        },
        {
          "value": "text-5xl",
          "label": "Medium"
        },
        {
          "value": "text-4xl",
          "label": "Small"
        }
      ],
      "default": "text-5xl"
    },
    {
      "type": "select",
      "id": "paragraph_size",
      "label": "Select paragraph size",
      "options": [
        {
          "value": "text-4xl",
          "label": "Large"
        },
        {
          "value": "text-3xl",
          "label": "Medium"
        },
        {
          "value": "text-2xl",
          "label": "Small"
        }
      ],
      "default": "text-3xl"
    },
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Make content to full width",
      "default": true
    },
	{
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
	{
      "type": "header",
	  "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Select top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Select bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Countdown timer"
    }
  ]
}
{% endschema %}